html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0; 
  background-color: #EDEDED;
  background-size: 100% 100%;
}

#board {
  background-color: #EDEDED;
  background-size: cover;
}
 
.ticket {
  width: 192px;
  height: 108px;
  position: absolute;
  border: 1px solid #EDEDED;
  border-radius: 2px;
  font-size: 12px;
  background-color: #FFFFFF; 
}
.ticket .color {
    height: 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 
}
.ticket .content {
    height: 76px;
    margin: 8px;
    overflow: hidden;
    white-space: pre-wrap; 
}
