/**
 * Styles for screenshot templates.
 */

* {
	margin: 0;
	padding: 0;
}

#board {
	width: 1920px; /* Should match with the actual board width. */
	height: 1080px; /* Should match with the actual board height. */
	background-color: #ffffff;
}

.ticket {
	position: absolute;
	width: 226px;
	height: 128px;
}
